body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.flexible-content{
    display: flex;
}
.first-div, .second-div, .dream-div1, .dream-div2{
    width: 50%;
    padding: 5%;
}
.second-div img, .second-image{
    width: 90%;
}
.orange-color{
    color: orangered;
}
h1{
    font-size: 50px;
}
.first-div a, .btn{
    text-decoration: none;
    padding: 12px 38px;
    background-image: linear-gradient(tomato, orangered);
    color: white;
    border-radius: 5px;
    font-weight: 600;
}
.first-div p, .dream p{
    font-size: 1.1rem;
    font-weight: 300;
    margin-bottom: 30px;
    text-align: justify;
}
/* Dream Big section*/
.dream h2{
    font-size: 40px;
}
.dream h3{
    font-size: 20px;
}
.dream{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}