body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.flexible-content{
    display: flex;
}
.first-div, .second-div{
    width: 50%;
    padding: 5%;
}
.second-div img{
    width: 90%;
}
.orange-color{
    color: orangered;
}
h1{
    font-size: 50px;
}
.first-div a{
    text-decoration: none;
    padding: 12px 38px;
    background-image: linear-gradient(tomato, orangered);
    color: white;
    border-radius: 5px;
    font-weight: 600;
}
.first-div p{
    font-size: 1.1rem;
    font-weight: 300;
    margin-bottom: 30px;
}